* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 50px;
    margin-top: 15px;
    text-align: center;
}

#container {
    float: left;
    border: 1px solid black;
}

p {
    font-family: Helvetica;
    color: white;
}

#p1 {
    color: white;
    background-color: goldenrod;
    border: 1px solid black;
    text-align: center;
    margin-top: 0px;
    padding: 5px;
    margin-left: 300px;
}

#p2 {
    background-color: gray;
    color: black;
    padding: 10px;
}

.row {
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        border: 1px solid black;
        width: 31.33%;
        background-color: gray;
        margin: 1%;
    }
}

@media (min-width: 798px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        border: 5px solid black;
        width: 48%;
        background-color: gray;
        margin: 1%;
    }
}

@media (max-width: 797) {
    .col-md-12, .col-sm-12 {
        float: left;
        border: 1px solid black;
        width: 100%;
        background-color: gray;
        margin: 1%;
    }
}
